#pageHeader{
	background-color: #E9E5E5;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

#logo{
	background-color: #ef233c;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
}

#logoName{
	position: absolute;
	left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}

#Admin{
	position: absolute;
	left: 227px;
	top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#leftBar, #rightBar{
	background-color: #D9D9D9;
	width: 150px;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	padding: 20px;
	z-index: 900;
}

#leftBar{
	top: 0;
	left: 0;
}

#Tools{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 40px;
	margin-top: 100px;
	font-size: 25px;
	align-self: auto;
}

.playlistBtn{
	background-color: #5f4bb6;
	color: white;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	/*border-radius: 5px;*/
	font-family: Arial, Helvetica, sans-serif;
}

#rightBar{
	top: 0;
	right: 0;
}

footer{
	background-color: #E9E5E5;
	height: 75px; 
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

#headerContent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0px 20px ;
}

#headerLinks {
	display: flex;
	margin-left: auto; 
}

#headerLinks a {
	text-decoration: none;
	color: #000; 
	margin-left: 20px; 
	margin-right: 20px; 
	position: relative;
}

#headerLinks a::after {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	z-index: -1;
	background: linear-gradient(to bottom, #5f4bb6, #f7f5fb); 
	opacity: 0;
	pointer-events: none; 
	transition: opacity 0.3s ease-in-out; 
}

#headerLinks a:hover::after, #headerLinks a:focus::after {
	opacity: 1;
}

#RadioName{
	color: #ffffff;
	margin-top: 110px;
	margin-left: 250px;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

#RadioName::after{
	content: "";
	display: block;
	height: 8px;
	background-color: #5f4bb6;
	position: absolute;
	bottom: 612px;
	left: 250px;
	right: 250px;
}

#RadioDes{
	font-size: 20px;
	margin-top: 20px;
}

#RadioName img{
	width: 300px;
	max-height: 250px;
	margin-top: 8px;
}