* {
  color: white;
}

body {
  background-color: #1b1b1e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#header-left {
  font-size: 30px;
  padding: 20px;
}

#header-right {
  font-size: 18px;
  padding: 20px;
  word-spacing: 20px;
}

#header-right a:hover {
  color: purple;
}

#header-left img {
  width: 30px;
  height: 30px;
}
