* {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1b1b1e;
  position: relative;
}
/*-------header--------*/
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #e9e5e5;
  align-items: center;
}

a {
  text-decoration: none;
  position: relative;
}

#header-left {
  font-size: 30px;
  padding: 20px;
}

#header-right {
  font-size: 18px;
  padding: 20px;
  word-spacing: 20px;
}

#header-right a:hover {
  background: linear-gradient(to bottom, #5f4bb6, #f7f5fb);
}

#header-left img {
  width: 35px;
  height: 35px;
}
/*-------asides--------*/
#aside-left,
#aside-right {
  background-color: #d9d9d9;
  width: 150px;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aside-right {
  float: right;
  right: 0;
}
#aside-left {
  float: left;
  left: 0;
}
#aside-left button {
  width: 100%;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
#aside-left button:hover {
  background: linear-gradient(to bottom, #5f4bb6, #f7f5fb);
  border: none;
}

/*-------footer--------*/
.footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75;
  padding: 20px 0;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

.footer p {
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding: 0 20px;
}

.icons .fa {
  color: rgb(0, 0, 51);
  margin: 0 13px;
  cursor: pointer;
}
