* {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1b1b1e;
  position: fixed;
}
/*-------header--------*/
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #e9e5e5;
  align-items: center;
  color: black;
}

a {
  text-decoration: none;
}

#header-left {
  font-size: 25px;
  padding: 20px;
}
#header-left img {
  width: 35px;
  height: 35px;
}
#header-left p {
  display: inline-block;
  font-size: 14px;
}

#header-right {
  font-size: 14px;
  padding: 20px;
  word-spacing: 20px;
}

#header-right a:hover {
  background: linear-gradient(to bottom, #5f4bb6, #f7f5fb);
}

/*-------asides--------*/

#aside-left,
#aside-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  width: 150px;
  height: 100%;
  padding: 20px;
  position: fixed;
  margin-top: 84px;
}
#aside-right {
  float: right;
  right: 0;
}
#aside-left {
  float: left;
  left: 0;
}
#aside-left button {
  width: 100%;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
#aside-left button:hover {
  background: linear-gradient(to bottom, #5f4bb6, #f7f5fb);
  border: none;
}

#picture-display {
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
#picture-caption {
  padding: 5px 0;
}
#right-aside-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#right-aside-info h4 {
  font-size: 16px;
}
#info-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  background-color: #1b1b1e;
  width: 150px;
}
#info-display p {
  color: white;
  font-size: 14px;
}
#info-display hr {
  width: 75%;
}

/*-------main-container--------*/

/*-------footer--------*/
.footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75;
  padding: 20px 0;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

.footer p {
  justify-content: center;
  align-items: center;
  font-style: italic;
  padding: 0 20px;
}

.icons .fa {
  color: rgb(0, 0, 51);
  margin: 0 13px;
  cursor: pointer;
}
