<div id="navbar-left">
  <img src="images/logo.png" alt="" style="width: 30px; height: 100%" />
  <h2>TrueCrimeToday</h2>
  <p>ADMIN</p>
</div>
<div id="navbar-right">
  <a href="manager_anguy38.html">Manager</a>
  <a id="producer-nav-tab" href="#">Producer</a>
  <a href="dj_hchen37.html">DJ</a>
</div>
