<h2>DJ's Play Order</h2>
<div
  style="
    background-color: #5f4bb6;
    width: 960px;
    height: 10px;
    margin-left: 250px;
    padding-top: 0px;
    margin-top: 0;
  "
></div>

<h3>Current Playlist</h3>

<section class="playlist-section">
  <form class="playlist-grid">
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
  </form>
</section>
