<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Playlists</title>
    <link rel="stylesheet" href="styles/producer_fndiaye_styles.css" />
    <script src="scripts/producer_fndiaye.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;
        height: 1000px;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
      }
      .aside-left div:nth-child(3) {
        border: 2px solid #5f4bb6;
        background-color: white;
      }
    </style>
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar">
      <div id="navbar-left">
        <img src="images/logo.png" alt="" style="  width: 30px;
        height: 100%;"/>
        <h2>TrueCrimeToday</h2>
        <p>ADMIN</p>
      </div>
      <div id="navbar-right">
        <a href="manager_anguy38.html">Manager</a>
        <a id="producer-nav-tab" href="producer_fndiaye.html">Producer</a>
        <a href="#dj_hchen37.html">DJ</a>
      </div>
    </nav>

    <!-- main container -->
    <section class="container">
      <aside class="sidebar aside-left">
        <h2>Tools</h2>
        <div class="aside-tool">
          <a href="producer_fndiaye.html">Play Order</a>
        </div>
        <div class="aside-tool">
          <a href="producer2_fndiaye.html">Edit Playlists</a>
        </div>
      </aside>
      <div class="main-content page2-content">
        <h2>Edit DJ's Playlist</h2>
        <div style="background-color: #5f4bb6;
        width: 960px;
        height: 10px;
        margin-left: 250px;
        padding-top: 0px;
        margin-top: 0;"></div>

        
        <h3>Current Playlist</h3>
        <section style="  display: flex;
        flex-direction: row;">
          <div class="playlist-grid">
            <div class="playlist-item page2"><img src="" alt=""></div>
            <div class="playlist-item page2"><img src="" alt=""></div>
            <div class="playlist-item page2"><img src="" alt=""></div>
            <div class="playlist-item page2"><img src="" alt=""></div>
            <div class="playlist-item page2"><img src="" alt=""></div>
            <div class="playlist-item page2"><img src="" alt=""></div>
          </div>
  
          <div class = "edit-section">  
              <p>Edit Playlists</p>
              <button>Add Stories</button>
              <button>Delete Stories</button>
          </div>
        </section>
       <div class="search">
        <img src="images/Search_img.png" alt="">
        <input type="text" placeholder="Search for Stories">
       </div>

       <div class="search-container">
          <div class="story-search-item">
            <div class="left-item">
              <img src="images/dj.jpg" alt="">
              <div class="story-search-results">
                <h5>Title of results</h5>
                <p>Artist Name</p>
              </div>
            </div>
            <div class="right-item">
              <p>Add to Playlist</p>
              <p>+</p>
            </div>
          </div>
          <div class="story-search-item">
            <div class="left-item">
              <img src="images/dj.jpg" alt="">
              <div class="story-search-results">
                <h5>Title of results</h5>
                <p>Artist Name</p>
              </div>
            </div>
            <div class="right-item">
              <p>Add to Playlist</p>
              <p>+</p>
            </div>
          </div>
          <div class="story-search-item">
            <div class="left-item">
              <img src="images/dj.jpg" alt="">
              <div class="story-search-results">
                <h5>Title of results</h5>
                <p>Artist Name</p>
              </div>
            </div>
            <div class="right-item">
              <p>Add to Playlist</p>
              <p>+</p>
            </div>
          </div>
       

      </div>
      <button onclick="alert('Changes saved!')" class="submit-button">Submit</button>
       
   </div>


      </div>
      <aside class="sidebar aside-right">
        <img src="images/dj.jpg" alt="" />
        <figcaption>DJ Name</figcaption>

        <div id="right-aside-info">
          <h1>DJ Profile</h1>
          <ul id="info-display">
            <li>TextArea1</li>
            <hr />
            <li>TextArea2</li>
            <hr />
            <li>TextArea3</li>
            <hr />
            <li>TextArea4</li>
            <hr />
            <li>TextArea5</li>
            <hr />
            <li>TextArea6</li>
            <hr />
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->
    <footer class="footer">
    
      <p>Contact Us</p>
      <img src="images/email.png" alt="">
      <p>SampleEmail@gmail.com</p>
      <img src="images/phone.png" alt="">
      <p>123-456-789</p>
     
    </footer>
  </body>
</html>
