<div id="headerContent">
    <img src="/Images/logo2.png" alt="">
    <div id="logo">
        <div id="logoName">TrueCrimeToday</div>
    </div>
    <div id="Admin">ADMIN</div>
    <div id="headerLinks">
        <a href="manager_anguy38.html">Manager</a>
        <a href="producer_fndiaye.html">Producer</a>
        <a href="dj_hchen37.html">DJ</a>
    </div>
</div>