		<p id="Tools"><strong>Tools</strong></p>
		<div class="playlistBtn"><button>Assigned Playlist</button></div>
		<div class="playlistBtn"><button>Saved Playlist 1</button></div>
		<div class="playlistBtn"><button>Saved Playlist 2</button></div>
		<div class="playlistBtn"><button>Saved Playlist 3</button></div>
		<button id="newButton">Add new button</button>
		<button id="removeButton">Remove New Button</button>