<img src="/Images/podcast_tbnl.png" alt="">
		<div class="titleBox">
			<p id="rightBarTitle">Baking A Murder Episode 1</p>
		</div>
		<p style="background-color: #E9E5E5; text-align: center;padding: 8px 8px;">Playlist Queue</p>
		<ol style="color: white; background-color: #1b1b1e;padding-left: 16%; padding-top: 8px; padding-bottom: 8px; height: auto; min-height: 270px;">
			<li><u>B.A.M Episode 1</u></li>
			<li><u>Bank Height gone wrong!</u></li>
			<li><u>Trapped under a Rock for 10 months</u></li>
			<li><u>Who killed Mr. Rogers?</u></li>
		</ol>