<div id="RadioDes">Fantastical and bizarre American true crime cases. From bank heists to stupid crimes!</div>
		<div class="RadioContainer">
			<img src="/Images/podcast.png" alt="">
			<!--Form-->
			<form action="" id="myForm" onsubmit="return validateForm()">
			<div id="RadioGrid">
				<label for="timeSlot1"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 1</label>
				<label for="timeSlot2"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 2</label>
				<label for="timeSlot3"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 3</label>
				<label for="timeSlot4"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 4</label>
				<label for="timeSlot5"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 5</label>
				<label for="timeSlot6"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 6</label>
				<label for="timeSlot7"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 7</label>
				<label for="timeSlot8"><input type="checkbox" id="timeSlot" name="timeSlot">Time Slot 8</label>
			</div>
			<button id="formSelectAll" type="button" onclick="selectAllCheckboxes()">Select All</button>
			<button id="formSubmit" type="submit">Submit</button>
			
			</form>
		</div>