<div id="SearchBar">
			<img src="/Images/Search_img.png" alt="">
			<input type="text" id="searchInput" placeholder="Search">
		</div>
		<div id="SearchResults">
			<!--Finish the SRCOLS later-->
			<div id="SearchTable">
				<!--First row-->
				<img src="/Images/dj.jpg" alt="">
				<div class="titleColumn">
					<u>title/name of artist</u>
				</div>
				<div class="selectColumn">
					<select name="Timeslot" id="TimeOptions">
						<option value="">Time Slot 1</option>
						<option value="">Time Slot 2</option>
						<option value="">Time Slot 3</option>
						<option value="">Time Slot 4</option>
						<option value="">Time Slot 5</option>
						<option value="">Time Slot 6</option>
						<option value="">Time Slot 7</option>
						<option value="">Time Slot 8</option>
					</select>
				</div>
				<div class="addButtonColumn">
					<button onclick="alert('Add Button has been clicked!')">Add</button>
				</div>
				<!--Second row-->
				<img src="/Images/dj.jpg" alt="">
				<div class="titleColumn">
					<u style="max-height: 80px;">title/name of artist</u>
				</div>
				<div class="selectColumn">
					<select name="Timeslot" id="TimeOptions">
						<option value="">Time Slot 1</option>
						<option value="">Time Slot 2</option>
						<option value="">Time Slot 3</option>
						<option value="">Time Slot 4</option>
						<option value="">Time Slot 5</option>
						<option value="">Time Slot 6</option>
						<option value="">Time Slot 7</option>
						<option value="">Time Slot 8</option>
					</select>
				</div>
				<div class="addButtonColumn">
					<button onclick="alert('Add Button has been clicked!')">Add</button>
				</div>
				<!--Third-->
				<img src="/Images/dj.jpg" alt="">
				<div class="titleColumn">
					<u style="max-height: 80px;">title/name of artist</u>
				</div>
				<div class="selectColumn">
					<select name="Timeslot" id="TimeOptions">
						<option value="">Time Slot 1</option>
						<option value="">Time Slot 2</option>
						<option value="">Time Slot 3</option>
						<option value="">Time Slot 4</option>
						<option value="">Time Slot 5</option>
						<option value="">Time Slot 6</option>
						<option value="">Time Slot 7</option>
						<option value="">Time Slot 8</option>
					</select>
				</div>
				<div class="addButtonColumn">
					<button onclick="alert('Add Button has been clicked!')">Add</button>
				</div>
				<!--Fourt-->
				<img src="/Images/dj.jpg" alt="">
				<div class="titleColumn">
					<u style="max-height: 80px;">title/name of artist</u>
				</div>
				<div class="selectColumn">
					<select name="Timeslot" id="TimeOptions">
						<option value="">Time Slot 1</option>
						<option value="">Time Slot 2</option>
						<option value="">Time Slot 3</option>
						<option value="">Time Slot 4</option>
						<option value="">Time Slot 5</option>
						<option value="">Time Slot 6</option>
						<option value="">Time Slot 7</option>
						<option value="">Time Slot 8</option>
					</select>
				</div>
				<div class="addButtonColumn">
					<button onclick="alert('Add Button has been clicked!')">Add</button>
				</div>

				</div>
			
			</div>
		</div>