<img src="images/dj.jpg" alt="" />
<figcaption id="side_dj">DJ Name</figcaption>

<div id="right-aside-info">
  <h1>DJ Profile</h1>
  <ul id="info-display">
    <li>TextArea1</li>
    <hr />
    <li>TextArea2</li>
    <hr />
    <li>TextArea3</li>
    <hr />
    <li>TextArea4</li>
    <hr />
    <li>TextArea5</li>
    <hr />
    <li>TextArea6</li>
    <hr />
  </ul>
</div>
