<h2>DJ's Play Order</h2>
<div
  style="
    background-color: #5f4bb6;
    width: 960px;
    height: 10px;
    margin-left: 250px;
    padding-top: 0px;
    margin-top: 0;
  "
></div>

<h3>Current Playlist</h3>

<section class="playlist-section">
  <form class="playlist-grid">
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <div class="playlist-item page1">
      Title Author Duration
      <select class="time_options">
        <option value=""></option>
        <option value="">Slot1</option>
        <option value="">Slot2</option>
        <option value="">Slot3</option>
        <option value="">Slot4</option>
        <option value="">Slot5</option>
        <option value="">Slot6</option>
        <option value="">Slot7</option>
        <option value="">Slot8</option>
      </select>
    </div>
    <button id="save-button">Save Changes</button>
  </form>

  <div class="time-slot">
    <div class="time-slot-container">
      <div class="grid-item">TimeSlot1</div>
      <div class="grid-item">TimeSlot2</div>
      <div class="grid-item">TimeSlot3</div>
      <div class="grid-item">TimeSlot4</div>
      <div class="grid-item">TimeSlot5</div>
      <div class="grid-item">TimeSlot6</div>
      <div class="grid-item">TimeSlot7</div>
      <div class="grid-item">TimeSlot8</div>
    </div>
  </div>
</section>

<div class="search">
  <img src="images/Search_img.png" alt="" />
  <input type="text" placeholder="Search for DJ's" />
</div>
<div id="search-grid">
  <form class="dj-search-results">
    <div class="dj-search-item">
      <input type="radio" name="dj" value="DJ1 Name and Info" />
      DJ1 Name and Info
    </div>
    <div class="dj-search-item">
      <input type="radio" name="dj" value="DJ2 Name and Info" />
      DJ2 Name and Info
    </div>
    <div class="dj-search-item">
      <input type="radio" name="dj" value="DJ3 Name and Info" />
      DJ3 Name and Info
    </div>
    <div class="dj-search-item">
      <input type="radio" name="dj" value="DJ4 Name and Info" />
      DJ4 Name and Info
    </div>
    <div class="dj-search-item">
      <input type="radio" name="dj" value="DJ5 Name and Info" />
      DJ5 Name and Info
    </div>
    <div class="dj-search-item">
      <input type="radio" name="dj" value="DJ6 Name and Info" />
      DJ6 Name and Info
    </div>
  </form>
</div>
<button type="submit" class="submit-button submit-play-form">Submit</button>
